@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p><h1>Cette Page a un routage different de /RoutageDifferent/Index</h1></p>
</div>
</body>
</html>