@model WebMVCapp1.Models.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Succes</title>
</head>
<body>
<div>
    <p><h2>Game Added to your cart</h2></p>
</div>
</body>
</html>