@model WebMVCapp1.Models.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Out of Stock</title>
</head>
<body>
<div>
    
    <p>
        <h2>Sorry this game Is out of stock</h2></p>
</div>
</body>
</html>