@model List<WebMVCapp1.Models.GameItem>

@{
    ViewData["Title"] = "Game Item List";
}

<h2>Game Item List</h2>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>Serial Number</th>
            <th>Game ID</th>
            <th>Cart ID</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var gameItem in Model)
        {
            <tr>
                <td>@gameItem.SerialNumber</td>
                <td>@gameItem.GameId</td>
                <td>@gameItem.CartId</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No game items available.</p>
}